*{
  font-family: Montserrat;
}
.App {
  width: 100vw;
  height: 100vh;
  background: #F8EDE3;
  display: grid;
  place-content: center;
}
body {
  margin: 0;
  padding: 0;
}

.join-container-div {
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #85586F;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.join-container-div input {
  width: 80%;
  height: 2rem;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.join-container-div input:focus {
  outline: none;
  border: none;

}

.join-container-div button {
  width: 40%;
  height: 2.5rem;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #D0B8A8;
  color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.join-container-div button:hover {
  background: #b9a394;
}

.join-container-div button:active {
  box-shadow: rgba(0, 0, 0, 0.041) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.041) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.018) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.join-container-div button:focus {
  outline: none;
  border: none;
}

.chat-window {
  width: 40vw;
  height: 60vh;
}

.chat-window  {
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  overflow: hidden;
}

.header{
  background-color: #85586F;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 10%; ;
}

.header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
  margin-top: 0;
}

 .body {
  height: 80%;
  width: 100%;
}

.message-container {
  width: 100%;
  height: 100%;
  background-color: #F8EDE3;
}


.message-content{
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


.message {
  height: auto;
  padding: 10px;
  display: flex;
}

.message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  word-break: break-word;
  border-radius: 5px;
  color: white;
  display: flex;
  margin: 0 10px 0 20px;
  padding: 3px 20px 3px 5px;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
  background-color: #814463;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#me {
  justify-content: flex-end;
}

#me .message-content {
  justify-content: flex-end;
  background-color: #D0B8A8;
}

#other {
  justify-content: flex-end;
  margin-right: 5px;
}

#name {
  margin-left: 10px;
  font-weight: bold;
}

.message-meta {
  display: flex;
  font-size: 12px;
}

.chatting-div {
  height: 10%;
  border-top: none;
  display: flex;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.chatting-div input {
  height: 100%;
  flex: 79.5%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  outline: none;
  border-radius: 0 0 0 10px;
  background-color: #85586F;
  caret-color: #ffffff;
  color: #ffffff;
}

.chatting-div input::placeholder {
  color: #ffffff;
}

.chatting-div p{
  flex: .5%;
}

.chatting-div button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 20%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 20px;
  background-color: #85586F;
}

.chatting-div button:active {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
